__pycache__/
*.py[cod]
*.sqlite
*.db
*.db-wal
*.db-shm
*.sqlite-wal
*.sqlite-shm
dips.sqlite-wal
dips.sqlite-shm
.dockerignore
.env
venv/
.venv/
.idea/
.vscode/
.DS_Store
node_modules/
.eggs/
.python-version
.mypy_cache/
.pytest_cache/

# Local data
/data/

# Build artifacts
*.log
